* {
  margin: 0%;
  padding: 0%;
}

header {
  height: 10vh;
  width: 99.7%;
  /* width: 100%; */
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 5px;
}

header img {
  width: 10vw;
  /* width: 50px; */
}

.divy {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
}

header input {
  width: 35vw;
  height: 7vh;
  padding-left: 30px;
  border-radius: 30px;
  outline: none;
  border: 1px solid black;
  background-color: whitesmoke;
}
.div2 {
  display: flex;
  align-items: center;
}

.Search {
  position: absolute;
  margin-left: 10px;
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

div a:hover {
  color: blue;
}

.div {
  height: 11vh;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
}

.dropdown_content {
  padding: 20px;
  height: 80vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 10px;
  position: absolute;
  display: none;
  z-index: 1;
  /* box-shadow: red 5px 5px 10px; */
}

.category_dropdown:hover .dropdown_content {
  display: flex;
}

.cart {
  font-size: 22px;
}

.btn-div {
  width: 18vw;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.btn1 {
  background-color: transparent;
  border: 1px solid black;
}

.btn2 {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.btn3 {
  background-color: transparent;
  border: 1px solid black;
  width: 50px !important;
}

.btn1,
.btn2,
.btn3 {
  width: 80px;
  height: 45px;
  font-weight: bold;
}

.btn1:hover,
.btn3:hover {
  background-color: whitesmoke;
}

.btn2:hover {
  opacity: 0.8;
}

.Globe {
  font-size: large;
}

.dropbox1 {
  height: 11vh;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropcontent1 {
  padding: 10px;
  height: 15vh;
  width: 200px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 10px;
  position: absolute;
  display: none;
}

.dropbutton1 {
  font-family: arial;
  background-color: black;
  color: white;
  padding: 5px 35px;
}

.drop1:hover .dropcontent1 {
  display: flex;
}

.dropbox2 {
  height: 11vh;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropcontent2 {
  padding: 10px;
  height: 15vh;
  width: 220px;
  display: flex;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 10px;
  position: absolute;
  display: none;
}

.dropbutton2 {
  font-family: arial;
  background-color: black;
  color: white;
  padding: 5px 70px;
}

.drop2:hover .dropcontent2 {
  display: flex;
}

.dropbox3 {
  height: 11vh;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropcontent3 {
  padding: 20px;
  height: 10vh;
  width: 220px;
  display: flex;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 10px;
  position: absolute;
  display: none;
}

.dropp {
  color: blue;
}

.drop3:hover .dropcontent3 {
  display: flex;
}

.all {
  background-image: url(Udemymain.jpg);
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin-bottom: 10vh;
}
.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  padding: 50px 30px;
  height: 13vh;
  background-color: white;
  color: black;
  position: absolute;
  top: 20vh;
  left: 13vh;
}

.mainpage h1 {
  font-size: 2.2em;
}
.mainpage p {
  font-size: 1em;
  color: rgba(17, 16, 16, 0.795);
  font-family: arial;
  padding: 5px;
}

.partners {
  height: 40vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.centeredpartner {
  height: 20vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.centeredpartner p {
  font-size: 20px;
  color: grey;
}

.partnericon {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.sectionwithpadding {
  padding: 0px 20px;
}

.coursesection h1 {
  font-size: 35px;
  color: rgb(36, 35, 35);
}

.coursesection p {
  font-size: 20px;
  margin: 40px 0px;
  color: rgb(36, 35, 35);
}

.subjects {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 10px 0px;
}

.subjects a {
  color: rgb(64, 62, 62) !important;
}

.subjects a:hover {
  color: black !important;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  border: 1px solid rgb(187, 181, 181);
  width: 100%;
}

.centeredcourses {
  height: 80vh;
  width: 95%;
}

.centeredcourses h1 {
  font-size: 25px;
}

.centeredcourses p {
  width: 60vw;
  font-size: 18px;
  font-weight: 500;
}

.explore {
  width: 150px;
  font-size: 15px;
  margin-bottom: 30px;
}
.coursecardsection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.coursecard {
  width: 19%;
}
.coursecard img {
  width: 100%;
  height: 30vh;
}

.coursecard img:hover {
  opacity: 0.8;
}
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 17vh;
}

figcaption i {
  color: goldenrod;
}
figcaption del,
.mini {
  color: gray;
}

figcaption del {
  font-size: 16px;
  font-weight: lighter;
}

figcaption strong,
small {
  font-weight: bolder;
}

.learner {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 50px 10px;
  margin: 50px 0px;
  font-family: arial;
  justify-content: space-around;

  height: 55vh;
  width: 99%;
}
.topy1 {
  font-size: x-large;
  margin: 10px;
}

.talkers {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  width: 99.6%;
}

.talker1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(172, 167, 167);
  height: 45vh;
  width: 29%;
  background-color: white;
  padding: 0 20px;
}

.topy2 {
  font-size: 4em;
  font-weight: bold;
}

.topy3 {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.topy4 {
  border: 1px solid blue;
  padding: 7px;
  font-size: 300;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 50%;
}

.topy6 {
  display: flex;
  justify-content: space-around;
  width: 85%;
  color: blueviolet;
  font-weight: bolder;
}

.topy6:hover {
  color: blue;
}

.top7 {
  font-size: 1.7em;
}

.bottom1 {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  justify-content: space-around;
  /* margin: 30px 10px; */
}

.bottom1 h1 {
  font-weight: bolder;
  font-family: arial;
  font-size: 1.5em;
}

.bottom2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
}

.bottom3 {
  height: 60vh;
  justify-content: space-between;
}

.bottom3 figcaption p {
  font-weight: bolder;
  font-family: arial;
  font-size: 300;
}
